{% extends "base.html" %}
{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Holiday</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Holiday</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="add-holiday.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                     <div class="row">
                        <div class="col-sm-12 col-md-6">
                           <div class="dataTables_length" id="DataTables_Table_0_length">
                              <label>
                                 Show 
                                 <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                 </select>
                                 entries
                              </label>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6"></div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <table class="table table-hover table-center mb-0 datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                              <thead>
                                 <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 85.2344px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Holiday Name: activate to sort column ascending" style="width: 170.172px;">Holiday Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Type: activate to sort column ascending" style="width: 161.688px;">Type</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending" style="width: 131.312px;">Start Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending" style="width: 152.594px;">End Date</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr role="row" class="odd">
                                    <td class="sorting_1">PRE2143</td>
                                    <td>
                                       <h2>
                                          <a>Annual Day</a>
                                       </h2>
                                    </td>
                                    <td>College Holiday</td>
                                    <td>04 Sept 2020</td>
                                    <td>07 Sept 2020</td>
                                 </tr>
                                 <tr role="row" class="even">
                                    <td class="sorting_1">PRE2143</td>
                                    <td>
                                       <h2>
                                          <a>Annual Day</a>
                                       </h2>
                                    </td>
                                    <td>College Holiday</td>
                                    <td>04 Sept 2020</td>
                                    <td>07 Sept 2020</td>
                                 </tr>
                                 <tr role="row" class="odd">
                                    <td class="sorting_1">PRE2209</td>
                                    <td>
                                       <h2>
                                          <a>Sports Day</a>
                                       </h2>
                                    </td>
                                    <td>College Holiday</td>
                                    <td>17 Aug 2020</td>
                                    <td>19 Aug 2020</td>
                                 </tr>
                                 <tr role="row" class="even">
                                    <td class="sorting_1">PRE2209</td>
                                    <td>
                                       <h2>
                                          <a>Sports Day</a>
                                       </h2>
                                    </td>
                                    <td>College Holiday</td>
                                    <td>17 Aug 2020</td>
                                    <td>19 Aug 2020</td>
                                 </tr>
                                 <tr role="row" class="odd">
                                    <td class="sorting_1">PRE2213</td>
                                    <td>
                                       <h2>
                                          <a>Memorial Day</a>
                                       </h2>
                                    </td>
                                    <td>Public Holiday</td>
                                    <td>05 Aug 2020</td>
                                    <td>06 Aug 2020</td>
                                 </tr>
                                 <tr role="row" class="even">
                                    <td class="sorting_1">PRE2213</td>
                                    <td>
                                       <h2>
                                          <a>Memorial Day</a>
                                       </h2>
                                    </td>
                                    <td>Public Holiday</td>
                                    <td>05 Aug 2020</td>
                                    <td>06 Aug 2020</td>
                                 </tr>
                                 <tr role="row" class="odd">
                                    <td class="sorting_1">PRE2431</td>
                                    <td>
                                       <h2>
                                          <a>Exam Holiday</a>
                                       </h2>
                                    </td>
                                    <td>Semester leave</td>
                                    <td>17 Sept 2020</td>
                                    <td>30 Sept 2020</td>
                                 </tr>
                                 <tr role="row" class="even">
                                    <td class="sorting_1">PRE2431</td>
                                    <td>
                                       <h2>
                                          <a>Exam Holiday</a>
                                       </h2>
                                    </td>
                                    <td>Semester leave</td>
                                    <td>17 Sept 2020</td>
                                    <td>30 Sept 2020</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12 col-md-5">
                           <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 8 of 8 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                           <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                              <ul class="pagination">
                                 <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                 <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                 <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}