<!DOCTYPE html>
<html>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>

<h3>SignUP</h3>

<div>
  <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="First name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="last name">

    <label for="lname">User Name</label>
    <input type="text" id="lname" name="display_name" placeholder="User Name">

    <label for="lname">Password</label>
    <input type="text" id="lname" name="password" placeholder="Password">

    <label for="lname">Confirm Password</label>
    <input type="text" id="lname" name="confirm_password" placeholder="Confirm Password">

    <label for="country">User Type</label>
    <select id="country" name="user_type">
      <option value="admin">Admin</option>
      <option value="viewer">Viewer</option>
    </select>
    <input type="submit" value="Submit">
  </form>
  <a href="{% url 'signin' %}">Already an Account</a>
</div>

</body>
</html>


