{% extends "base.html" %}
{% block content %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Add Department</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="departments.html">Department</a>
               </li>
               <li class="breadcrumb-item active">Add Department</li>
            </ul>
         </div>
      </div>
      
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               <form action="{% url 'add_department' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-12">
                        <h5 class="form-title"><span>Department Details</span></h5>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Department Name</label> <input name="dep_name" type="text" class="form-control">
                        </div>
                     </div>
                     <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Department Head Name</label> <input name="dep_head" type="text" class="form-control">
                        </div>
                     </div>
                     
                     <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}