{%  extends "base.html" %}
{%  block content %}
{%  load static  %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">Salary</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
               <li class="breadcrumb-item active">Salary</li>
            </ul>
         </div>
         <div class="col-auto text-right float-right ml-auto">
            <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
            <a href="add-salary.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card card-table">
            <div class="card-body">
               <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                     <div class="row">
                        <div class="col-sm-12 col-md-6">
                           <div class="dataTables_length" id="DataTables_Table_0_length">
                              <label>
                                 Show 
                                 <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                 </select>
                                 entries
                              </label>
                           </div>
                        </div>
                        <div class="col-sm-12 col-md-6"></div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <table class="table table-hover table-center mb-0 datatable dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                              <thead>
                                 <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 68.7812px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 224.5px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 79.0312px;">Gender</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Joining Date: activate to sort column ascending" style="width: 129.516px;">Joining Date</th>
                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Amount: activate to sort column ascending" style="width: 86px;">Amount</th>
                                    <th class="text-right sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 71.1719px;">Status</th>
                                 </tr>
                              </thead>
                              <tbody>
                        <tr>
                           <td>PRE2209</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-01.jpg' %}" alt="User Image"></a> <a>Aaliyah</a></h2>
                           </td>
                           <td>Female</td>
                           <td>17 Aug 2020</td>
                           <td>$320</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2213</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="User Image"></a> <a>Malynne</a></h2>
                           </td>
                           <td>Female</td>
                           <td>05 Aug 2020</td>
                           <td>$536</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2143</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-03.jpg' %}" alt="User Image"></a> <a>Levell Scott</a></h2>
                           </td>
                           <td>Male</td>
                           <td>04 Sept 2020</td>
                           <td>$378</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2431</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-04.jpg' %}" alt="User Image"></a> <a>Minnie</a></h2>
                           </td>
                           <td>Female</td>
                           <td>17 Sept 2020</td>
                           <td>$246</td>
                           <td class="text-right"><span class="badge badge-danger">Unpaid</span></td>
                        </tr>
                        <tr>
                           <td>PRE1534</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-05.jpg' %}" alt="User Image"></a> <a>Lois A</a></h2>
                           </td>
                           <td>Male</td>
                           <td>02 Oct 2020</td>
                           <td>$560</td>
                           <td class="text-right"><span class="badge badge-danger">Unpaid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2153</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-06.jpg' %}" alt="User Image"></a> <a>Calvin</a></h2>
                           </td>
                           <td>Male</td>
                           <td>28 Oct 2020</td>
                           <td>$236</td>
                           <td class="text-right"><span class="badge badge-danger">Unpaid</span></td>
                        </tr>
                        <tr>
                           <td>PRE1252</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-07.jpg' %}" alt="User Image"></a> <a>Joe Kelley</a></h2>
                           </td>
                           <td>Female</td>
                           <td>17 Oct 2020</td>
                           <td>$237</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE1434</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-08.jpg' %}" alt="User Image"></a> <a>Vincent</a></h2>
                           </td>
                           <td>Male</td>
                           <td>05 Nov 2020</td>
                           <td>$567</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2345</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-09.jpg' %}" alt="User Image"></a> <a>Kozma Tatari</a></h2>
                           </td>
                           <td>Female</td>
                           <td>12 Nov 2020</td>
                           <td>$564</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE2365</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-10.jpg' %}" alt="User Image"></a> <a>John Chambers</a></h2>
                           </td>
                           <td>Male</td>
                           <td>15 Nov 2020</td>
                           <td>$234</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                        <tr>
                           <td>PRE1234</td>
                           <td>
                              <h2 class="table-avatar"><a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{% static 'assets/img/profiles/avatar-11.jpg' %}" alt="User Image"></a> <a>Nathan Humphries</a></h2>
                           </td>
                           <td>Male</td>
                           <td>17 Nov 2020</td>
                           <td>$278</td>
                           <td class="text-right"><span class="badge badge-success">Paid</span></td>
                        </tr>
                     </tbody>
                           </table>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12 col-md-5">
                           <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                           <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                              <ul class="pagination">
                                 <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                                 <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                 <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                 <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

{%  endblock content %}






